<div class="">
    <div class="form-group">
        <div class="row">
            <input type="search" name="address" id="pick_up_address_input_id" class="form-control" placeholder="Where do you want to pick up your car?">
        </div>
        <div class="row form-check">
            <input type="checkbox" class="form-check-input" name="return_to_origin" value="return" id="return_to_origin_location_checkbox_input_id">
            <label for="return_to_origin_location_checkbox_input_id">Return to the same location</label>
        </div>
    </div>
</div>
