<app-top-bar></app-top-bar>

<app-background></app-background>

<div class="custom-content">
    <div class="custom-container">
        <app-details-component></app-details-component>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-outline-primary btn-lg btn-block">GO BACK</button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary btn-lg btn-lg btn-block">RENT THIS CAR</button>
            </div>
        </div>
    </div>
</div>