
    <div class="custom-container">
        <app-address-form-component></app-address-form-component>
    </div>
    <br>
    <div class="form-row">
        <div class="custom-container col-xl-6 col-sm-12">
            <app-calendar-range-form-component></app-calendar-range-form-component>
        </div>
        <div class="custom-container col-xl-6 col-sm-12">
            <app-checkbox-list-form-component></app-checkbox-list-form-component>
        </div>
    </div>
    <br>
    <a class="btn btn-primary btn-lg btn-block" href="/list">
        SEARCH
    </a>
